<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kk.mymobilesafe">

    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".LauncherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".activity.SettingCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".activity.PhoneGuardOverViewActivity" />
        <activity android:name=".activity.PhoneGuard1stActivity" />
        <activity android:name=".activity.PhoneGuard2ndActivity" />
        <activity android:name=".activity.PhoneGuard3rdActivity" />
        <activity android:name=".activity.PhoneGuard4thActivity" />
        <activity android:name=".activity.AToolsActivity" />
        <activity android:name=".activity.AToolsQueryLocationActivity" />
        <activity
            android:name=".activity.SetPositionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.BlackNumActivity" />


        <!-- 注册短信接收者 -->
        <receiver android:name=".recevier.SMSCmdRecevier">
            <intent-filter android:priority="1000">
                <action android:name="android.provier.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <!-- 注册设备管理器的广播接收者 -->
        <receiver
            android:name=".recevier.DeviceAdminSampleRecevier"
            android:description="@string/sample_device_admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_sample" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".recevier.BlockSMSRecevier">
            <intent-filter android:priority="10000">
                <action android:name="android.provier.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.ShowLocationService" />
        <service android:name=".service.BlackSMSService" />
        <service android:name=".service.BlackCallService" />

    </application>

</manifest>